<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="apolo.vendedores.com">

    <uses-permission android:name="andtoid.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="andtoid.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="Android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Vendedores"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".informes.CorteDeStock" />
        <activity android:name=".informes.EstadoDePedidos" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="apolo.vendedores.com.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".utilidades.Sincronizacion"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".configurar.CalcularClavePrueba" />
        <activity
            android:name=".configurar.ConfigurarUsuario"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".configurar.AcercaDe"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".informes.PedidosEnReparto"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".informes.RebotesPorCliente"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".informes.PreciosModificados"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".informes.EvolucionDiariaDeVentas"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".informes.ListaDePrecios"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".informes.RuteoSemanal"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reportes.AvanceDeComisiones"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reportes.ExtractoDeSalario"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reportes.VentasPorMarca"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reportes.VentasPorCliente"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reportes.ProduccionSemanal"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reportes.SeguimientoDeVisitas"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reportes.ComprobantesPendientes"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reportes.CoberturaSemanal"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reportes.VariablesMensuales"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reportes.CanastaDeMarcas"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reportes.CanastaDeClientes"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ventas.Promotores"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ventas.ListaClientes"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ventas.DeudaDeClientes"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ventas.Deuda"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ventas.ModificarCliente"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ventas.sd.SolicitudDevolucion"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ventas.asistencia.Marcacion"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".ventas.Pedidos"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".ventas.Promociones"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".ventas.ConsultaPedidos"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".ventas.ConsultaDatosDeCliente"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".ventas.ConsultaClientesNoPositivados"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".ventas.PromotoresCatastro"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".ventas.PromotoresBaja"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".ventas.catastro.CatastrarCliente"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".ventas.baja.Baja"
            tools:ignore="Instantiatable"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".prueba.VentanaAuxiliar"
            android:windowSoftInputMode="adjustNothing" />


        <activity
            android:name=".utilidades.Mapa"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".utilidades.MapaCatastro"
            android:label="@string/title_activity_maps" />

        <!--Datos para abrir el mapa-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCva4opR1ok5nXfJeCqYNaESg7mdd8lGmc" />
    </application>

</manifest>